apg-ws/src/main/webapp/WEB-INF/wsdl/giuntiscuolainfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://applicazioni.giunti.it/apgws/giuntiscuolainfo"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		name="giuntiscuolainfo"
		targetNamespace="http://applicazioni.giunti.it/apgws/giuntiscuolainfo">

	<!-- TIPI (camel case) -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://applicazioni.giunti.it/apgws/giuntiscuolainfo">

			<xsd:element name="SubscriberinfoParams">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codice" type="tns:String8Type" maxOccurs="1" minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="SubscriberinfoResult">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="subscriberData" type="tns:SubscriberData" maxOccurs="1" minOccurs="0"/>
						<xsd:element name="errorCode" type="xsd:int" maxOccurs="1" minOccurs="0"/>
						<xsd:element name="errorDesc" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			
			<xsd:complexType name="SubscriberData">
				<xsd:sequence>
					<xsd:element name="codice" type="tns:String8Type" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="nomePeriodico" type="tns:String64Type" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="abbonato" type="tns:Anagrafica" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="pagante" type="tns:Anagrafica" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="fascicoloInizio" type="tns:String256Type" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="fascicoloFine" type="tns:String256Type" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="inRegola" type="xsd:boolean" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="subscriptionExpiryDate" type="xsd:dateTime" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="gracingExpiryDate" type="xsd:dateTime" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="supplemento" type="tns:Supplemento" maxOccurs="256" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Anagrafica">
				<xsd:sequence>
					<xsd:element name="nome" type="tns:String256Type" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="presso" type="tns:String256Type" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="indirizzo" type="tns:String256Type" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="localita" type="tns:String256Type" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="cap" type="tns:String8Type" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="provincia" type="tns:String4Type" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="email" type="tns:String1024Type" maxOccurs="256" minOccurs="0"/>
					<xsd:element name="sesso" type="tns:String4Type" maxOccurs="1" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Supplemento">
				<xsd:sequence>
					<xsd:element name="codiceSupplemento" type="tns:String16Type" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="nomeSupplemento" type="tns:String64Type" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="tags" type="tns:String256Type" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="subscriptionExpiryDate" type="xsd:dateTime" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:simpleType name="String4Type">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="String8Type">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="8"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="String16Type">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="String32Type">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="32"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="String64Type">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="String256Type">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="256"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:simpleType name="String1024Type">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1024"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>
			
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGGI (camel case) -->
	<wsdl:message name="SubscriberinfoRequest">
		<wsdl:part element="tns:SubscriberinfoParams" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubscriberinfoResponse">
		<wsdl:part element="tns:SubscriberinfoResult" name="parameters"/>
	</wsdl:message>
	
	<!-- PORT -->
	<wsdl:portType name="giuntiscuolainfo">
		<wsdl:operation name="subscriberinfo">
			<wsdl:input message="tns:SubscriberinfoRequest"/>
			<wsdl:output message="tns:SubscriberinfoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- BINDING -->
	<wsdl:binding name="giuntiscuolainfoSOAP" type="tns:giuntiscuolainfo">
 		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="subscriberinfo">
			<soap:operation soapAction="http://applicazioni.giunti.it/apgws/subscriberinfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- SERVICE -->
	<wsdl:service name="giuntiscuolainfo">
		<wsdl:port binding="tns:giuntiscuolainfoSOAP" name="giuntiscuolainfoSOAP">
			<soap:address location="http://applicazioni.giunti.it/apgws/giuntiscuolainfo"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
